{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<h1 style="margin-top: 120px;margin-bottom: 40px; text-align: center;" >ADMINISTRACION</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="container container-aministracion-iz" style="background-color: #c85209;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <h5 style="color: white;" class="titulo-gerente">Gerente</h5>
                </div>
            </div>
            <div class="col-6">
                <div class="container container-aministracion-dr" style="background-color:  rgb(14, 14, 138) ;"  data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <h5 style="color: white;" class="titulo-adminsitracion">Consejo de Administracion</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="container container-aministracion-iz" style="background-color: rgb(240, 255, 247);" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                    <h5 style="color: black;"  class="titulo-adminsitracion">Junta General de Socios</h5>
                </div>
            </div>
            <div class="col-6">
                <div class="container container-aministracion-dr" style="background-color: green;" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                    <h5 style="color: white; margin-left: 20px;"  class="titulo-adminsitracion">Comite Educación y Beneficios</h5>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- BOTON CERRAR -->
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                style="position: absolute; top: 0; right: 0; z-index: 1; 
                margin-top: 15px; 
                padding-right: 15px;">
                    <i class="bi bi-x"></i>
                </button>
                <img src="{% static 'core/img/gerente.jpeg' %}" alt=""
                     style="width: 100%; height: auto; display: block; border-radius: 20px;">
            </div>
        </div>
        
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- BOTON CERRAR -->
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                style="position: absolute; top: 0; right: 0; z-index: 1; 
                margin-top: 20px; 
                padding-right: 20px;">
                    <i class="bi bi-x"></i>
                </button>
                <img src="{% static 'core/img/consejo.jpeg' %}" alt=""
                     style="width: 100%; height: auto; display: block; border-radius: 20px;">
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- BOTON CERRAR -->
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                style="position: absolute; top: 0; right: 0; z-index: 1; 
                margin-top: 20px; 
                padding-right: 20px;">
                    <i class="bi bi-x"></i>
                </button>
                <img src="{% static 'core/img/junta.jpeg' %}" alt=""
                     style="width: 100%; height: auto; display: block; border-radius: 20px;">
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- BOTON CERRAR -->
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                style="position: absolute; top: 0; right: 0; z-index: 1; 
                margin-top: 20px; 
                padding-right: 20px;">
                    <i class="bi bi-x"></i>
                </button>
                <img src="{% static 'core/img/comite.jpeg' %}" alt=""
                     style="width: 100%; height: auto; display: block; border-radius: 20px;">
            </div>
        </div>
    </div>
    


{% endblock  %}