{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<h1 class="titulo-principal-nosotros" style="margin-top: 130px; text-align: center;margin-bottom: 10px;" >NOSOTROS</h1>

<div class="cont s--inactive">
  <!-- cont inner start -->
  <div class="cont__inner">
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <img src="{% static 'core/img/vision.jpeg' %}"
                style="margin: 0%;padding: 0%;padding-right: 100px;border-radius: 60px;
                height: 550px;" alt="">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">VISION</h2>
          </div>
          <div class="el__content">
            <div class="el__text">
              <img src="{% static 'core/img/vision-texto.jpeg' %}"
              style="margin-left: 361px;"
              height="540
              " alt="">
            </div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- el start -->
    <div class="el el-2">
      <div class="el__overflow">
        <div class="el__inner">
          <img src="{% static 'core/img/mision.jpeg' %}"
                style="margin: 0%;padding: 0%;padding-right: 100px;border-radius: 50px;
                height: 540px;" alt="">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">MISION</h2>
          </div>
          <div class="el__content">
            <div class="el__text">
              <img src="{% static 'core/img/mision-texto.jpeg' %}"
              style="margin-left: 361px;"
              height="540
              " alt="">
            </div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- el start -->
    <div class="el el-3">
      <div class="el__overflow">
        <div class="el__inner">
          <img src="{% static 'core/img/objetivo.jpeg' %}"
                style="margin: 0%;padding: 0%;padding-right: 100px;border-radius: 50px;
                height: 550px;" alt="">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">OBJETIVO</h2>
          </div>
          <div class="el__content">
            <div class="el__text">
              <img src="{% static 'core/img/objetivo-texto.jpeg' %}"
              style="margin-left: 361px;"
              height="540
              " alt="">
            </div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}